@define-color bg #202020;
@define-color fg #d0d0d0;

/* Notification containers */
.notification-background,
.notification,
.notification-row,
.control-center,
.notification-window {
  border-radius: 0;
  border: none;
  background-color: @bg;
  color: @fg;
}

.close-button {
  background-color: @fg;
  color: @bg;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin: 0.3em 0.5em 0.2em 0;
  box-shadow: none;
  border: none;
  min-width: 1.5em;
  min-height: 1.5em;
}

.notification {
  padding: 0.2em;
}

button,
.action-button,
.close-button,
.buttons-grid button {
  border-radius: 0;
}
