@import "colors/style.css";

* {
	border: none;
	border-radius: 0px;

	font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", "sans-serif";
	font-weight: bold;
	font-size: 14px;

	min-height: 0;
	padding: 0;
	margin: 0;
	background: @bg;
	color: @fg;
}

tooltip {
	background: @bg;
}

tooltip label {
	padding: 0.5em;
}

#workspaces {
	margin: 0 0 0 0.75em;
}

#workspaces button label {
	padding: 0.5em;
	margin: 0 0.25em 0 0.25em;
}

#workspaces button.active label {
	background: @acc;
	color: @bg;
	transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
	background: @crit;
	color: @bg;
}

#battery, #bluetooth, #workspaces,
#clock, #pulseaudio, #network {
	padding: 0.5em 0;
}

#custom-notification {
	padding: 0.5em 0.75em 0.5em;
}

#custom-separator {
	margin: 0.5em 0.25em;
}

#memory, #temperature, #custom-nvidia, #disk, #cpu {
	padding: 0.5em 0;
}

#tray {
	padding: 0.5em 0.75em 0.5em 0;
    font-size: 1.25em;
}

#custom-menu {
    padding: 0.5em 0 0.5em 0.75em;
    font-size: 1.25em;
}

#network.disabled, #network.disconnected {
	color: @crit;
}

#network.linked, #network.ethernet, #network.wifi {
	color: @success;
}
